<section class="flex flex-col gap-16">
    <div>
        <h2 class="font-normal text-2xl mb-4">about me</h2>
        <p class="font-light">
            Computer Science undergraduate at BINUS University with a passion for cybersecurity, artificial intelligence, and backend development. Currently streaming in Intelligent Systems, 
                I'm driven by the challenge of creating secure and intelligent solutions for tomorrow's technological landscape. I aim to contribute to developing robust, AI-driven security 
                solutions that can adapt to evolving threats.
        </p>
    </div>
    <div>
        <h2 class="font-normal text-2xl mb-4">what i'm up to</h2>
        <p class="font-light">
            I'm doing an internship at Plaza Toyota as a System Engineer, working on backend developing modules for internal apps. I also integrates Copilot Agent as a customer 
            service for Plaza customers. 
        </p>
    </div>
    <div>
        <h2 class="font-normal text-2xl mb-4">what do i look like</h2>
        <img src="/shadowsmoke.jpg" alt="orang ganteng" width="250" height="250"></img>
    </div>
    <div>
        <h2 class="font-normal text-2xl mb-4">my projects</h2>
        <dl class="font-light">
            <dt><a href="https://github.com/bavarianprayoga/currencyforecast" target="_blank">Currency Forecaster</a></dt>
            <dd class="font-extralight mb-4">An application that forecasts the directional movement of a currency over the next n days using LightGBM, predicting whether it will trend upward or downward.</dd>
            <dt><a href="https://github.com/bavarianprayoga/landscapecolorizer" target="_blank">Landscape Colorizer</a></dt>
            <dd class="font-extralight mb-4">A landscape image colorization application that converts black-and-white scenery into color using a hybrid architecture combining ResNet-18, U-Net, and skip connections.</dd>
        </dl>
    </div>
</section>