<article>
    <img src="/images/mue-1.jpg" alt="">
    <h3><a href="https://www.themuestudio.com/somewhere-in-the-world" target="_blank">Art by MUE.</a></h3>
</article>

<style>
    article {
        background-color: var(--clr-neutral-900);
        height: calc(100vh - var(--content-margin) * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        color: var(--clr-neutral-100);
        margin: 1rem 0;
    }

</style>